.pagination{
    padding-top: 10px;
}
.pagination td a {
    float: left;
    text-decoration: none;
    border:#f0f0f0 1px solid;
    padding:3px 6px;
}

.pagination td:first-child a {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination td:last-child a {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.pagination span {
    border-radius: 5px;
    background-color: #036cb4;
    color: white;
    padding:3px 6px;
    text-decoration: none;
}
.pagination span:hover {
    transition: .3s;
    color: white;
    text-decoration: none;
}
.pagination td a:hover:not(.active) {background-color: #ddd;}