.divneulc {
	width: 100%;
	min-width: 800px;
}

.neulctable {
	width: 100%;
	border: 1px #808080 solid;
	line-height:30px;
}

.wbdiv {
	width: 98%;
	line-height: 30px;
	padding-left:20px;
	margin:5px;
}

.wbtable{
	width:98%;
	line-height:30px;
}
.wbtable tr th{
	text-align:right;
	padding:5px;
}
	.wbtable tr td {
		text-align:left;
		padding:5px;
	}

.info {
	float: left;
	width: 900px;
	margin: 2px 0;
	height: auto;
}

	.info p {
		font: bold 24px Verdana, Geneva, sans-serif;
		color: #999;
		display: block;
		line-height: 34px;
		text-align: center;
	}

.clear {
	clear: both;
}

.textarea-inherit {
	width: 100%;
	overflow: auto;
	word-break: break-all;
}

.textul {
	list-style: none; /* 去掉ul前面的符号 */
	margin: 0px; /* 与外界元素的距离为0 */
	padding: 0px; /* 与内部元素的距离为0 */
	width: auto; /* 宽度根据元素内容调整 */
}

	.textul li {
		float: left; /* 向左漂移，将竖排变为横排 */
		border-right: 1px #808080 solid;
	}
		/* 所有class为menu的div中的ul中的a样式(包括尚未点击的和点击过的样式) */
		.textul li a, .textul li a:visited {
			/*background-color: #bfcbd6;
							border: 1px #4e667d solid;
							color: #465c71;*/
			display: block; /* 此元素将显示为块级元素，此元素前后会带有换行符 */
			line-height: 1.35em;
			padding: 4px 20px;
			text-decoration: none;
			white-space: nowrap;
		}
			/* 所有class为menu的div中的ul中的a样式(鼠标移动到元素中的样式) */
			.textul li a:hover {
				background-color: #eeeeee;
				color: #ff6a00;
				text-decoration: none;
			}
			/* 所有class为menu的div中的ul中的a样式(鼠标点击元素时的样式) */
			.textul li a:active {
				background-color: #4694DE; /* 背景色 */
				color: #cfdbe6; /* 文字颜色 */
				text-decoration: none; /* 不显示超链接下划线 */
			}

.imgul {
	list-style: none; /* 去掉ul前面的符号 */
	margin: 0px; /* 与外界元素的距离为0 */
	padding: 0px; /* 与内部元素的距离为0 */
	width: auto; /* 宽度根据元素内容调整 */
}

	.imgul li {
		float: left; /* 向左漂移，将竖排变为横排 */
	}

		.imgul li a, .imgul li a:visited {
			display: block; /* 此元素将显示为块级元素，此元素前后会带有换行符 */
			line-height: 1.35em;
			padding: 4px 20px;
			text-decoration: none;
			white-space: nowrap;
		}

			.imgul li a:hover {
				background-color: #eeeeee;
				text-decoration: none;
			}

.mnuTopMenu {
	font-size: 15px;
	padding:5px;
}

.mnuStaticItem{
	border-right:1px solid #808080;
}

.resultDiv {
	width: 800px;
	height: 200px;
	overflow-x: hidden;
	padding: 10px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

.input-text{
	border: 1px solid #808080;
	border-radius: 5px 5px 5px 5px;
	font-size: 13px;
	height: 25px;
	line-height: 25px;
	margin-right: 10px;
	padding-left:5px;
}

.ta {
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #999999;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #999999;
	-moz-box-shadow: 1px 1px 0 #E7E7E7;
	-moz-box-sizing: border-box;
	font-family: arial,sans-serif;
	font-size: 13px;
	height: 280px;
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: medium;
	padding: 2px;
	border-radius: 5px 5px 5px 5px;
	width: 100% !important;
	overflow: auto;
	word-break: break-all;
}

.fileUpload {
	border: solid 1px #999999;
	background-color: #ffffff;
	background-image: none;
	width: 250px;
	margin-right: 10px;
	line-height:25px;
}

.dropdownlist{
	height:25px;
}
.cblList{
	padding-left:10px;
	padding-right:10px;
}
.cblList input {
	margin-left: 20px;
	margin-right:10px;
}
.cblList label {
	display: inline-block;
}

.fakeContainer {
	float: left;
	margin: 20px;
	border: none;
	width: 640px;
	height: 320px;
	background-color: #ffffff;
	overflow: hidden;
}
.divbr {
	clear: both;
	width: 100%;
	height: 5px;
}
.divhr {
	clear: both;
	width: 100%;
	margin-top:5px;
	margin-bottom:5px;
	height: 2px;
	background-color:#808080;
}

/*语料彩色可视化*/
.divmain {
	width: 100%;
	margin-bottom:10px;
}

.it-ec-textdiv {
	width: 70%;
	float: left;
	background-color: #dcdcdc;
	border: 1px solid #808080;
	line-height: 25px;
	font-size: 12px;
	padding:5px;
	height:400px;
	overflow-y:auto;
}

.it-ec-statsdiv {
	width: 30%;
	float: left;
}

.it-ec-paragraph {
	text-align: justify;
	border: 1px solid;
	margin: 0px;
	padding: 5px;
	border-color: #663;
	background-color: #dcdcdc;
}

.outbtndiv {
	width: 100%;
	margin: 5px;
	border-bottom: 1px solid #808080;
	padding: 5px;
	text-align:right;
}

.outbtndiv-button {
	color: #e8f0de;
	border: solid 1px #e8f0de;
	width: 80px;
	height: 33px;
	border-radius: 5px 5px 5px 5px;
	background-color: #999999;
}

	.outbtndiv-button:hover {
		cursor: pointer;
		background: red;
		font-weight: bold;
	}

.it-chart-dl {
	margin-left: 10px;
	width:400px;
}

.it-chart-dt {
	cursor: pointer;
	float: left;
	width: 60px;
	text-align: right;
	padding: 5px 0px 5px 0px;
	clear: left;
}

.it-chart-dd {
	cursor: pointer;
	float: left;
	width: 320px;
	margin-left: 5px;
	padding: 5px 0px 5px 0px;
}

.it-chart-bar {
	height: 20px;
	float: left;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.it-chart-label {
	width: 20px;
	height: 100%;
	float: left;
	text-align: right;
}
/*文本高亮*/

.KW.highlight {
	background-color: pink;
}

.C2.highlight {
	background-color: red;
	color: white;
}

.C1.highlight {
	background-color: orange;
	color: white;
}

.B2.highlight {
	background-color: yellow;
	color: black;
}

.B1.highlight {
	background-color: green;
	color: white;
}

.A2.highlight {
	background-color: blue;
	color: white;
}

.A1.highlight {
	background-color: indigo;
	color: white;
}

.UN.highlight {
	background-color: grey;
	color: white;
}

span.MW {
	font-weight: bold;
}

.div-inline {
	display: inline;
}


.box {
	width: 140px;
	height: 25px;
	border: 1px solid #000;
	margin: 100px auto;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, .8);
	border-radius: 5px;
	line-height: 25px;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	text-shadow: 0 0 3px;
	transition: all 1s;
}

	.box #entity {
		width: 100%;
		height: 100%;
	}


	.div{
        margin:0 auto;
			width:90%;
			max-width:750px;
			text-align:center;
			vertical-align:middle;
			font-size:16px;
			padding-top:100px;
		}
		.div table{
			width:100%;
		}
		.div table a{
			color:#000;
			border:1px solid #808080;
			padding:5px;
		}
		.div table a:hover{
			color:#ff6a00;
			cursor:pointer;
		}
		.div table a:visited{
			color:#000;
		}
		/* 底部快速链接与版权 */

.foot {
	width: 100%;
	margin-top: -20px;
	/* margin-bottom: -40px; */
	background: #ecf7fb;
	border-top: #efefef 1px solid;
}

.ext_link {
	width: auto;
	height: 12px;
	margin: 0 auto;
	text-align: center;
	max-width: 1000px;
}

.ext_link li {
	list-style: none;
	width: auto;
	display: inline-block;
	line-height: 20px;
	text-align: center;
	border-left: #000 1px solid;
	border-color: #525252;
	font-size: 13px;
	padding-left: 10px;
	padding-right: 10px;
}

.ext_link li:first-child {
	border-left: 0px;
}

.ext_link a {
	color: #525252;
	text-decoration: none;
}

.ext_link a:hover {
	color: red;
	text-decoration: none;
}