<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
</head>
<body>
    <table $htmlformat[0] height="100%" border="0" width="100%" cellpadding="10" cellspacing="0" bgcolor="#eeeeee" style="border:1px solid #000000">
        <tr>
            <td width="100%" valign="middle" align="left">
                <span style="color: $htmlformat[1];font-size: $htmlformat[2]">$htmlformat[3]</span>
            </td>
        </tr>
    </table>
</body>
</html>