<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="fscGPADate" value="2018/11/05;2018/11/15"/>
    <add key="fscMoneyDate" value="2018/11/15;2018/11/30"/>
    <add key="fschuizong" value="业绩汇总"/>
    <add key="ByYear" value="2018"/>
    <add key="pfWebUrl" value="http://www.fsc.neu.edu.cn/Performance"/>
    <add key="ListName" value="业绩汇总"/>
  </appSettings>
</configuration>